<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign in Failed</title>
  <link rel="stylesheet" href="/static/css/tailwind.css">
</head>
<body>
  <div class="min-h-screen bg-gray-50 flex flex-col justify-center py-12 sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">Sign in Failed</h2>
      <div class="flex justify-center">
        <a href="/auth/signin" class="inline-block mt-10 px-4 py-1 border border-blue-600
          text-lg font-medium rounded shadow-sm text-blue-600 hover:text-blue-500 hover:bg-blue-50">Try again
        </a>
      </div>
    </div>
  </div>
</body>
</html>
