{{- define "title"}}Sources{{end}}
{{- define "content"}}

<div class="max-w-7xl px-4 sm:px-6 lg:px-8">
  <h1 class="mt-10 title">Source List</h1>
  <h2 class="my-8 text-lg leading-6 font-medium text-gray-600">Viewing {{.Data.SourcesCount}} sources</h2>
</div>

<div class="px-4">
  <div class="my-10 overflow-x-auto shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
    <table class="min-w-full divide-y divide-gray-200">
      <thead>
        <tr>
          <th class="table-head">
            ID
          </th>
          <th class="table-head">
            Name
          </th>
          <th class="table-head">
            Short description
          </th>
          <th class="table-head">
            Created
          </th>
          <th class="table-head">
            Modified
          </th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        {{- range .Data.Sources}}
        <tr class="bg-white hover:bg-gray-50">
          {{- template "source-row" .}}
        </tr>
        {{- end}}
      </tbody>
    </table>
  </div>
</div>
{{- end}}
