{{- define "token-row"}}
<td class="px-6 py-4 whitespace-nowrap">
  <span class="td-text">{{.Token}}</span>
</td>
<td class="px-6 py-4 whitespace-nowrap">
  <span class="td-text">{{.Email}}</span>
</td>
<td class="px-6 py-4 whitespace-nowrap">
  <span class="td-text">{{.Role}}</span>
</td>
<td class="px-6 py-4 whitespace-nowrap">
  <span class="td-text">{{.Status}}</span>
</td>
<td class="px-6 py-4 whitespace-nowrap">
  <span class="td-text">{{admintime .CreatedAt}}</span>
</td>
<td class="px-6 py-4 whitespace-nowrap">
  <span class="td-text">{{admintime .ModifiedAt}}</span>
</td>
{{- end}}
