{{- define "token-row"}}
<td class="px-6 py-4 whitespace-nowrap">
  <span class="td-text font-mono">{{.Token}}</span>
</td>
<td class="px-6 py-4 whitespace-nowrap">
  <span class="td-text">{{.Email}}</span>
</td>
<td class="px-6 py-4 whitespace-nowrap">
  <span class="td-text">{{.Role}}</span>
</td>
<td class="px-6 py-4 whitespace-nowrap">
  {{if eq .Status "verified"}}
  <span class="status-badge status-badge--active">
    {{.Status}}
  </span>
  {{- else}}
  <span class="status-badge status-badge--other">
    {{.Status}}
  </span>
  {{- end}}
</td>
<td class="px-6 py-4 whitespace-nowrap">
  <span class="td-text">{{admintime .CreatedAt}}</span>
</td>
<td class="px-6 py-4 whitespace-nowrap">
  <span class="td-text">{{admintime .ModifiedAt}}</span>
</td>
{{- end}}
