{{- define "token-row"}}
<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
  <span class="tracking-tight">{{.Token}}</span>
</td>
<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
  <span class="tracking-tight">{{.Email}}</span>
</td>
<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
  <span class="tracking-tight">{{.Role}}</span>
</td>
<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
  <span class="tracking-tight">{{.Status}}</span>
</td>
<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
  <span class="tracking-tight">{{admintime .CreatedAt}}</span>
</td>
<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
  <span class="tracking-tight">{{admintime .ModifiedAt}}</span>
</td>
{{- end}}
