{{- define "user-row"}}
<td class="whitespace-nowrap">
  <a href="/users/{{.User.ID}}" class="clickable-row">{{.User.Email}}</a>
</td>
<td class="whitespace-nowrap">
  <a href="/users/{{.User.ID}}" class="clickable-row">{{.User.Role}}</a>
</td>
<td class="whitespace-nowrap">
  <a href="/users/{{.User.ID}}" class="clickable-row">{{.User.Metadata}}</a>
</td>
<td class="whitespace-nowrap">
  <a href="/users/{{.User.ID}}" class="clickable-row">{{admintime .User.CreatedAt}}</a>
</td>
<td class="whitespace-nowrap">
  <a href="/users/{{.User.ID}}" class="clickable-row">{{admintime .User.ModifiedAt}}</a>
</td>
{{- end}}
