{{- define "user-row"}}
<td class="px-6 py-4 whitespace-nowrap">
  <span class="tracking-tight text-sm text-indigo-700 hover:text-indigo-500 hover:underline">
    <a href="/users/{{.User.ID}}">{{.User.Email}}</a>
  </span>
</td>
<td class="px-6 py-4 whitespace-nowrap">
  <span class="tracking-tight text-sm text-gray-900">{{.User.Role}}</span>
</td>
<td class="px-6 py-4 whitespace-nowrap">
  <span class="tracking-tight text-sm text-gray-900">{{.User.Metadata}}</span>
</td>
<td class="px-6 py-4 whitespace-nowrap">
  <span class="tracking-tight text-sm text-gray-900">{{admintime .User.CreatedAt}}</span>
</td>
<td class="px-6 py-4 whitespace-nowrap">
  <span class="tracking-tight text-sm text-gray-900">{{admintime .User.ModifiedAt}}</span>
</td>
{{- end}}
