{{- define "user-job-row"}}
{{- with .Job}}
<td class="px-6 py-4 whitespace-nowrap">
  <span class="tracking-tight text-sm text-gray-900">{{.ID}}</span>
</td>
<td class="px-6 py-4 whitespace-nowrap">
  <span class="tracking-tight text-sm text-gray-900">
    {{- if .Visible}}V{{else}}v{{end}}
    {{- if .Searchable}}S{{else}}s{{end}}
    {{- if .Pinned}}P{{else}}p{{end}}
    {{- if .Filled}}F{{else}}f{{end}}
  </span>
</td>
<td class="px-6 py-4 whitespace-nowrap">
  <span class="tracking-tight text-sm text-gray-900">{{.CompanyName}}</span>
</td>
<td class="px-6 py-4 whitespace-nowrap">
  <span class="tracking-tight text-sm text-gray-900">{{.Location}}</span>
</td>
<td class="px-6 py-4 whitespace-nowrap">
  <span class="tracking-tight text-sm text-gray-900">{{.Title}}</span>
</td>
<td class="px-6 py-4 whitespace-nowrap">
  <span class="tracking-tight text-sm text-gray-900">{{currencySymbol .SalaryCurrency}}{{moneyK .SalaryMin}}</span>
</td>
<td class="px-6 py-4 whitespace-nowrap">
  <span class="tracking-tight text-sm text-gray-900">{{moneyK .SalaryMax}}</span>
</td>
<td class="px-6 py-4 whitespace-nowrap">
  <span class="tracking-tight text-sm text-gray-900">{{.SalaryUnit}}</span>
</td>
<td class="px-6 py-4 whitespace-nowrap">
  <span class="tracking-tight text-sm text-gray-900">{{.HLType}}</span>
</td>
<td class="px-6 py-4 whitespace-nowrap">
  <span class="tracking-tight text-sm text-gray-900 rounded" style="background-color: {{.HLCol}};">{{.HLCol}}</span>
</td>
<td class="px-6 py-4 whitespace-nowrap">
  <a target="_blank" href="{{$.Site.BaseURL}}/jobs/{{.Slug}}" class="inline-flex items-center rounded text-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-1 focus:ring-indigo-500">
    <svg class="w-6 h-6 stroke-current stroke-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" /></svg>
  </a>
</td>
{{- end}}
{{- end}}
