{{- define "title"}}System : Environment{{end}}
{{- define "system-content"}}
<h1 class="title">Environment</h1>
<!-- Tabs -->
<div x-data="{
  openTab: 1,
  activeClasses: 'border-blue-500 text-blue-600',
  inactiveClasses: 'border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 ',
}"
  class="px-4">
  <div class="mt-10">
    <div class="border-b border-gray-200">
      <ul class="-mb-px flex space-x-8">
        <li @click="openTab = 1" :class="openTab === 1 ? activeClasses : inactiveClasses" class="whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm cursor-pointer">
          Web
        </li>

        <li @click="openTab = 2" :class="openTab === 2 ? activeClasses : inactiveClasses" class="whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm cursor-pointer">
          Admin
        </li>
      </ul>
    </div>
  </div>

  <!-- Web -->
  <div x-show="openTab === 1">
    <div class="my-10">
      <div class="bg-white shadow overflow-hidden sm:rounded-lg">
        <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
          {{- with .Data.SysData.Env.Raw}}
          <dl class="font-mono sm:divide-y sm:divide-gray-200">
            {{- range $n, $v := .}}
            <div class="py-2 lg:py-1 sm:px-3 sm:grid lg:grid-cols-5">
              <dt class="text-sm font-medium text-gray-900 lg:col-span-2 xl:col-span-1">
                {{$n}}
              </dt>
              <dd class="mt-1 text-sm text-gray-500 sm:mt-0 lg:col-span-3 xl:col-span-4">
                {{$v}}
              </dd>
            </div>
            {{- end}}
          </dl>
          {{- end}}
        </div>
      </div>
    </div>
  </div>

  <!-- Admin -->
  <div x-show="openTab === 2">
    <div class="my-10">
      <div class="bg-white shadow overflow-hidden sm:rounded-lg">
        <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
          {{- with .Data.AdminConfig.Raw}}
          <dl class="font-mono sm:divide-y sm:divide-gray-200">
            {{- range $n, $v := .}}
            <div class="py-2 lg:py-1 sm:px-3 sm:grid lg:grid-cols-5">
              <dt class="text-sm font-medium text-gray-900 lg:col-span-2 xl:col-span-1">
                {{$n}}
              </dt>
              <dd class="mt-1 text-sm text-gray-500 sm:mt-0 lg:col-span-3 xl:col-span-4">
                {{$v}}
              </dd>
            </div>
            {{- end}}
          </dl>
          {{- end}}
        </div>
      </div>
    </div>
  </div>
</div>
{{- end}}
