{{- define "title"}}System : Options{{end}}
{{- define "system-content"}}

<h1 class="title">Options</h1>

<div class="my-10 overflow-x-auto shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
  <table class="min-w-full divide-y divide-gray-200">
    <thead>
      <tr>
        <th class="table-head">
          Name
        </th>
        <th class="table-head">
          Value
        </th>
        <th class="table-head">
          Action
        </th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
      {{- range .Data.Options}}
      <tr>
        <td class="px-6 py-4 whitespace-nowrap">
          <span class="td-text">{{.Name}}</span>
        </td>
        <td class="px-6 py-4 whitespace-nowrap">
          <span class="td-text">
            {{- if gt (len .Value) 10}}
            {{- slice .Value 0 10}} ...
            {{- else}}
            {{- .Value}}
            {{- end}}
          </span>
        </td>
        <td class="px-6 py-4 whitespace-nowrap">
          <a class="text-sm text-blue-600 hover:text-blue-900" href="/system/options/{{.ID}}/edit">Edit</a>
        </td>
      </tr>
      {{- end}}
    </tbody>
  </table>
</div>
{{- end}}
