{{- define "job-row"}}
<td class="px-6 py-4 whitespace-nowrap">
  <span class="tracking-tight text-sm text-indigo-700 hover:text-indigo-500 hover:underline">
    <a href="/users/{{.Job.UserID}}">{{fkmapper .UserMap .Job.UserID}}</a>
  </span>
</td>
<td class="px-6 py-4 whitespace-nowrap">
  <span class="tracking-tight text-sm text-gray-900">
    {{- if .Job.Visible}}
    <span class="material-icons-outlined text-green-700">visibility</span>
    {{else}}
    <span class="material-icons-outlined text-gray-200">visibility_off</span>
    {{end}}
    {{- if .Job.Searchable}}
    <span class="material-icons-outlined text-green-700">search</span>
    {{else}}
    <span class="material-icons-outlined text-gray-200">search</span>
    {{end}}
    {{- if .Job.Pinned}}
    <span class="material-icons-outlined text-green-700">push_pin</span>
    {{else -}}
    <span class="material-icons-outlined text-gray-200">push_pin</span>
    {{- end}}
    {{- if .Job.Filled}}
    <span class="material-icons-outlined text-green-700">lock</span>
    {{else}}
    <span class="material-icons-outlined text-gray-200">lock</span>
    {{end}}
  </span>
</td>
<td class="px-6 py-4 whitespace-nowrap">
  <span class="tracking-tight text-sm text-gray-900">{{.Job.CompanyName}}</span>
</td>
<td class="px-6 py-4 whitespace-nowrap">
  <span class="tracking-tight text-sm text-gray-900">{{.Job.Location}}</span>
</td>
<td class="px-6 py-4 text-sm whitespace-nowrap">
  <span class="tracking-tight text-sm text-indigo-700 hover:text-indigo-500 hover:underline"><a href="/jobs/{{.Job.ID}}">{{.Job.Title}}</a></span>
</td>
<td class="px-6 py-4 whitespace-nowrap">
  <span class="tracking-tight text-sm text-gray-900">{{currencySymbol .Job.SalaryCurrency}}{{moneyK .Job.SalaryMin}}</span>
</td>
<td class="px-6 py-4 whitespace-nowrap">
  <span class="tracking-tight text-sm text-gray-900">{{moneyK .Job.SalaryMax}}</span>
</td>
<td class="px-6 py-4 whitespace-nowrap">
  <span class="tracking-tight text-sm text-gray-900">{{.Job.SalaryUnit}}</span>
</td>
<td class="px-6 py-4 whitespace-nowrap">
  <span class="tracking-tight text-sm text-gray-900">{{.Job.HLType}}</span>
</td>
<td class="px-6 py-4 whitespace-nowrap">
  <span class="tracking-tight rounded text-sm text-gray-900" style="background-color: {{.Job.HLCol}};">{{.Job.HLCol}}</span>
</td>
{{- end}}
