{{- define "system-nav"}}
<nav class="space-y-1">
  {{if eq .Page.URLPath "/system"}}
  <a href="/system" class="system-nav system-nav--active">
    <span class="truncate">Overview</span>
  </a>
  {{- else}}
  <a href="/system" class="system-nav system-nav--inactive">
    <span class="truncate">Overview</span>
  </a>
  {{- end}}
  {{if eq .Page.URLPath "/system/options"}}
  <a href="/system/options" class="system-nav system-nav--active">
    <span class="truncate">Options</span>
  </a>
  {{- else}}
  <a href="/system/options" class="system-nav system-nav--inactive">
    <span class="truncate">Options</span>
  </a>
  {{- end}}

  <a href="/system/themes/overview" class="system-nav system-nav--{{if eq .Page.URLPath "/system/themes/overview"}}active{{else}}inactive{{end}}">
    <span class="truncate">Themes</span>
  </a>

  <a href="/system/environment" class="system-nav system-nav--{{if eq .Page.URLPath "/system/environment"}}active{{else}}inactive{{end}}">
    <span class="truncate">Environment</span>
  </a>

  {{if eq .Page.URLPath "/system/config"}}
  <a href="/system/config" class="system-nav system-nav--active">
    <span class="truncate">Config</span>
  </a>
  {{- else}}
  <a href="/system/config" class="system-nav system-nav--inactive">
    <span class="truncate">Config</span>
  </a>
  {{- end}}
  {{if eq .Page.URLPath "/system/skills"}}
  <a href="/system/skills" class="system-nav system-nav--active">
    <span class="truncate">Skills</span>
  </a>
  {{- else}}
  <a href="/system/skills" class="system-nav system-nav--inactive">
    <span class="truncate">Skills</span>
  </a>
  {{- end}}
  {{if eq .Page.URLPath "/system/database"}}
  <a href="/system/database" class="system-nav system-nav--active">
    <span class="truncate">Database</span>
  </a>
  {{- else}}
  <a href="/system/database" class="system-nav system-nav--inactive">
    <span class="truncate">Database</span>
  </a>
  {{- end}}
</nav>
{{- end}}
