{{- define "title"}}Events{{ end }}
{{- define "content"}}

<div class="px-4 sm:px-6 lg:px-8">
  <div class="my-10 overflow-x-auto shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
    <table class="min-w-full divide-y divide-gray-200">
      <thead>
        <tr>
          <th class="table-head">ID</th>
          <th class="table-head">User ID</th>
          <th class="table-head">Name</th>
          <th class="table-head">Message</th>
          <th class="table-head">Source</th>
          <th class="table-head">Date</th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        {{- range .Data.Events}}
        <tr class="bg-white hover:bg-gray-50">
          {{- template "event-row" .}}
        </tr>
        {{- end}}
      </tbody>
    </table>
  </div>
</div>
{{- end -}}
