{{- define "title"}}View Job{{end}}
{{- define "content"}}
<h1>Event</h1>

{{- with .Data.Event}}
<table>
  <tr>
    <td>ID</td>
    <td>{{.ID}}</td>
  </tr>
  <tr>
    <td>UserID</td>
    <td>{{.UserID}}</td>
  </tr>
  <tr>
    <td>Name</td>
    <td>{{.Name}}</td>
  </tr>
  <tr>
    <td>Message</td>
    <td>{{.Message}}</td>
  </tr>
  <tr>
    <td>Event Data</td>
    <td>{{ maptojsonstr .Data}}</td>
  </tr>
  <tr>
    <td>Date</td>
    <td>{{ admintime .CreatedAt}}</td>
  </tr>
</table>
{{- end}}

{{- end}}
