{{- define "event-row"}}
<td class="px-6 py-4 whitespace-nowrap">
  <span class="tracking-tight text-sm text-gray-900">{{.ID}}</span>
</td>
<td class="px-6 py-4 whitespace-nowrap">
  <span class="tracking-tight text-sm text-gray-900">{{.UserID}}</span>
</td>
<td class="px-6 py-4 whitespace-nowrap">
  <span class="tracking-tight text-sm text-gray-900">{{.Name}}</span>
</td>
<td class="px-6 py-4 whitespace-nowrap">
  <span class="tracking-tight text-sm text-gray-900">{{.Message}}</span>
</td>
<td class="px-6 py-4 whitespace-nowrap">
  <span class="tracking-tight text-sm text-gray-900">{{.Source}}</span>
</td>
<td class="px-6 py-4 whitespace-nowrap">
  <span class="tracking-tight text-sm text-gray-900">{{ admintime .CreatedAt}}</span>
</td>
{{- end}}
