{{- define "title"}}Admins{{ end }}
{{- define "content"}}
<div class="max-w-7xl px-4 sm:px-6 lg:px-8">
  <h1 class="mt-10 title">Admin List</h1>
  <h2 class="my-8 text-lg leading-6 font-medium text-gray-600">Viewing {{.Data.AdminsCount}} admins</h2>
</div>
<div class="px-4">
  <div class="my-10 overflow-x-auto shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
    <table class="min-w-full divide-y divide-gray-200">
      <thead>
        <tr>
          <th class="table-head">
            ID
          </th>
          <th class="table-head">
            Email
          </th>
          <th class="table-head">
            First name
          </th>
          <th class="table-head">
            Last name
          </th>
          <th class="table-head">
            Last signed in
          </th>
          <th class="table-head">
            Created
          </th>
          <th class="table-head">
            Last changed
          </th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        {{- range .Data.Admins}}
        <tr class="bg-white hover:bg-gray-50">
          {{- template "admin-row" .}}
        </tr>
        {{- end}}
      </tbody>
    </table>
  </div>
</div>
{{- end -}}
