{{- define "order-row"}}
<td class="px-6 py-4 whitespace-nowrap">
  <a href="/orders/{{.ID}}" class="inline-flex items-center rounded text-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-1 focus:ring-indigo-500">
  <svg class="w-6 h-6 stroke-current stroke-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" /></svg>
  </a>
</td>
<td class="px-6 py-4 whitespace-nowrap">
  <span class="tracking-tight text-sm text-gray-900">{{admintime .StartAt}}</span>
</td>
<td class="px-6 py-4 whitespace-nowrap">
  <span class="tracking-tight text-sm text-gray-900">{{admintime .EndAt}}</span>
</td>
<td class="px-6 py-4 whitespace-nowrap">
  {{.Status}}
  {{if eq .Status "pending" -}}
  <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-yellow-100 text-yellow-800">
    {{.Status}}
  </span>
  {{end -}}
</td>
<td class="px-6 py-4 whitespace-nowrap">
  <span class="tracking-tight text-sm text-gray-900">{{.Kind}}</span>
</td>
<td class="px-6 py-4 whitespace-nowrap">
  {{- if .Pinned -}}
  <span class="material-icons-outlined text-green-700">push_pin</span>
  {{else -}}
  <span class="material-icons-outlined text-gray-200">push_pin</span>
  {{- end}}
</td>
<td class="px-6 py-4 whitespace-nowrap">
  <span class="tracking-tight text-sm text-gray-900">{{.HLType}}</span>
</td>
<td class="px-6 py-4 whitespace-nowrap">
  <span class="tracking-tight text-sm text-gray-900 rounded" style="background-color: {{.HLCol}};">{{.HLCol}}</span>
</td>
<td class="px-6 py-4 whitespace-nowrap">
  {{if .Logo -}}
  <span class="material-icons-outlined text-green-700">image</span>
  {{else -}}
  <span class="material-icons-outlined text-gray-200">image</span>
  {{end -}}
</td>
<td class="px-6 py-4 whitespace-nowrap">
  <span class="tracking-tight text-sm text-gray-900">{{admintime .CreatedAt}}</span>
</td>
<td class="px-6 py-4 whitespace-nowrap">
  <span class="tracking-tight text-sm text-gray-900">{{admintime .ModifiedAt}}</span>
</td>
{{- end}}
