{{- define "order-row"}}
<td class="whitespace-nowrap">
  <a href="/orders/{{.ID}}" class="block px-6 py-4 td-text">
    <span class="px-1 py-1 text-id--clickable">{{.ID}}</span>
  </a>
</td>
<td class="whitespace-nowrap">
  <a href="/orders/{{.ID}}" class="block px-6 py-4 td-text">{{admintime .StartAt}}</a>
</td>
<td class="whitespace-nowrap">
  <a href="/orders/{{.ID}}" class="block px-6 py-4 td-text">{{admintime .EndAt}}</a>
</td>
<td class="whitespace-nowrap">
 {{if eq .Status "pending"}}
  <a href="/orders/{{.ID}}" class="px-6 py-4">
    <span class="status-badge status-badge--pending">{{.Status}}</span>
  </a>
  {{- end}}
  {{if eq .Status "fulfilled"}}
  <a href="/orders/{{.ID}}" class="px-6 py-4">
    <span class="status-badge status-badge--active">{{.Status}}</span>
  </a>
  {{- end}}
  {{if eq .Status "subscribed"}}
  <a href="/orders/{{.ID}}" class="px-6 py-4">
    <span class="status-badge status-badge--subscribed">{{.Status}}</span>
  </a>
  {{- end}}
</td>
<td class="whitespace-nowrap">
  <a href="/orders/{{.ID}}" class="block px-6 py-4 td-text">{{.Kind}}</a>
</td>
<td class="whitespace-nowrap">
  <a href="/orders/{{.ID}}" class="block px-6 py-4 td-text">
    <div class="flex items-center">
      {{- if .Pinned}}
      <span class="material-icons-outlined text-green-700 text-xl">push_pin</span>
      {{else -}}
      <span class="material-icons-outlined text-gray-200 text-xl">push_pin</span>
      {{- end}}

      {{- if not .HLType }}
      <span class="inline-block border border-gray-500 px-2 py-2"></span>
      {{/* {{- else if eq .HLType "custom" }}
      <span class="inline-block px-2 py-2" style="background-color: {{.HLCol}}"></span>
      {{- else if eq .HLType "standard" }}
      <span class="inline-block bg-yellow-100 px-2 py-2"></span> */}}
      {{- end}}

      {{.HLType}}

      {{- if .LogoURL}}
      <span class="material-icons-outlined text-green-700">image</span>
      {{- else}}
      <span class="material-icons-outlined text-gray-200">image</span>
      {{- end}}
    </div>
  </a>
</td>
<td class="whitespace-nowrap">
  <a href="/orders/{{.ID}}" class="block px-6 py-4 td-text">{{admintime .CreatedAt}}</a>
</td>
<td class="whitespace-nowrap">
  <a href="/orders/{{.ID}}" class="block px-6 py-4 td-text">{{admintime .ModifiedAt}}</a>
</td>
{{- end}}
