{{- define "title"}}Order{{end}}
{{- define "content"}}
<div class="max-w-5xl px-4 sm:px-6 lg:px-8">
  <!-- Breadcrumb -->
  <nav class="flex lg:hidden mt-4">
    <ol role="list" class="flex space-x-4">
      <li>
        <div>
          <a href="/" class="text-gray-400 hover:text-gray-500">
            <span class="material-icons-outlined h-5 w-5">home</span>
          </a>
        </div>
      </li>
      <li>
        <div class="flex items-center">
          <span class="material-icons-outlined">chevron_right</span>
          <a href="/orders" class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700">Orders</a>
        </div>
      </li>
    </ol>
  </nav>
  <h1 class="mt-10 title">Order Details</h1>

<!-- Order details card -->
  {{- with .Data.Order}}
  <div class="mt-16 bg-white shadow overflow-hidden sm:rounded-lg">
    <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
      <dl class="sm:divide-y sm:divide-gray-200">
        <div class="py-2 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            ID
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2 font-mono">
            {{.ID}}
          </dd>
        </div>
        <div class="py-2 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Job ID
          </dt>
          <dd class="mt-1 text-sm sm:mt-0 sm:col-span-2">
            <a href="/jobs/{{.JobID}}">
              <span class="px-1 py-1 text-id--clickable">{{.JobID}}</span>
            </a>
          </dd>
        </div>
        <div class="py-2 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Start Date
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            {{admintime .StartAt}}
          </dd>
        </div>
        <div class="py-2 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            End Date
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            {{admintime .EndAt}}
          </dd>
        </div>
        <div class="py-2 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Status
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            {{if eq .Status "pending" -}}
            <span class="status-badge status-badge--pending">
              {{.Status}}
            </span>
            {{- end}}
            {{if eq .Status "fulfilled" -}}
             <span class="status-badge status-badge--active">
              {{.Status}}
            </span>
            {{- end}}
            {{if eq .Status "subscribed" -}}
             <span class="status-badge status-badge--subscribed">
              {{.Status}}
            </span>
            {{- end}}
          </dd>
        </div>
        <div class="py-2 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Kind
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            {{.Kind}}
          </dd>
        </div>
        <div class="py-2 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Pinned
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            {{- if .Pinned}}
            <span class="material-icons-outlined text-green-700">push_pin</span>
            {{- else}}
            <span class="material-icons-outlined text-gray-200">push_pin</span>
            {{- end}}
          </dd>
        </div>
        <div class="py-2 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Highlight Type
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            {{- if .HLType}}
            <svg class="w-6 h-6 stroke-current stroke-2 text-green-700" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M5 13l4 4L19 7" />
            </svg>
            {{.HLType}}
            {{else}}
            <svg class="w-6 h-6 stroke-current stroke-2 text-red-700" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M6 18L18 6M6 6l12 12" />
            </svg>
            {{end}}
          </dd>
        </div>
        <div class="py-2 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Highlight Colour
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            {{if .HLCol}}
            <span class="tracking-tight rounded text-sm text-gray-900"
              style="background-color: {{.HLCol}};">{{.HLCol}}
            </span>
            {{else}}
            <svg class="w-6 h-6 stroke-current stroke-2 text-red-700" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M6 18L18 6M6 6l12 12" />
            </svg>
            {{end}}
          </dd>
        </div>
        <div class="py-2 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Logo
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            {{if .LogoURL -}}
            <span class="material-icons-outlined text-green-700">image</span>
            {{else -}}
            <span class="material-icons-outlined text-gray-200">image</span>
            {{end -}}
          </dd>
        </div>
        <div class="py-2 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Created
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            {{admintime .CreatedAt}}
          </dd>
        </div>
        <div class="py-2 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Modified
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            {{admintime .ModifiedAt}}
          </dd>
        </div>
      </dl>
    </div>
  </div>
  {{- end}}
</div>
{{- end}}
