{{- define "title"}}Order{{end}}
{{- define "content"}}
<h1>Order</h1>

{{- with .Data.Order}}
<table>
<tr>
  <td>ID</td>
  <td>{{.ID}}</td>
</tr>
<tr>
  <td>Job ID</td>
  <td>{{.JobID}}</td>
</tr>
<tr>
  <td>Start date</td>
  <td>{{admintime .StartAt}}</td>
</tr>
<tr>
  <td>End date</td>
  <td>{{admintime .EndAt}}</td>
</tr>
<tr>
  <td>Status</td>
  <td>{{.Status}}</td>
</tr>
<tr>
  <td>Kind</td>
  <td>{{.Kind}}</td>
</tr>
<tr>
  <td>Pinned</td>
  <td>{{.Pinned}}</td>
</tr>
<tr>
  <td>Highlight type</td>
  <td>{{.HLType}}</td>
</tr>
<tr>
  <td>Highlight colour</td>
  <td>{{.HLCol}}</td>
</tr>
<tr>
  <td>Has Logo</td>
  <td>{{.Logo}}</td>
</tr>
<tr>
  <td>Created</td>
  <td>{{admintime .CreatedAt}}</td>
</tr>
<tr>
  <td>Last Modified</td>
  <td>{{admintime .ModifiedAt}}</td>
</tr>
</table>
{{- end}}

{{- end}}
