{{- define "title"}}User List{{end}}
{{- define "content"}}
<div class="max-w-7xl px-4 sm:px-6 lg:px-8">
  <h1 class="mt-10 text-2xl md:text-4xl font-bold tracking-tight text-gray-600">User List</h1>
  <h2 class="my-8 text-lg leading-6 font-medium text-gray-600">Viewing {{.Data.UsersCount}} users</h2>
</div>

<!-- Tabs -->
<div x-data="{
  openTab: 1,
  activeClasses: 'border-indigo-500 text-indigo-600',
  inactiveClasses: 'border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 ',
  params: new URL(location.href).searchParams,
  limit(n) {
    this.params.set('limit', n);
    this.go();
  },
  toggle(field) {
    if (field === this.params.get('order_by')) {
      if (this.params.get('order_direction') === 'asc') {
        this.params.set('order_direction', 'desc');
      } else {
        this.params.set('order_direction', 'asc');
      }
      this.go();
      return;
    }
    this.params.set('order_by', field);
    this.params.set('order_direction', 'asc');
    this.go();
  },
  go() {
    window.location.href = location.origin + location.pathname + '?' + this.params.toString();
  }
}"
  class="px-4">

  <button @click="limit(10)">LIMIT 10</button>
  <button @click="limit(30)">LIMIT 30</button>
  <button @click="go()">GO</button>

  <div class="mt-10">
    <div class="border-b border-gray-200">
      <ul class="-mb-px flex space-x-8">
        <li @click="openTab = 1" :class="openTab === 1 ? activeClasses : inactiveClasses" class="whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm cursor-pointer">
          All users
        </li>

        <li @click="openTab = 2" :class="openTab === 2 ? activeClasses : inactiveClasses" class="whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm cursor-pointer">
          Unconfirmed users
        </li>
      </ul>
    </div>
  </div>

  <!-- All users table -->
  <div x-show="openTab === 1" class="my-10 overflow-auto shadow border-gray-200 sm:rounded-lg">
    <div class="inline-block min-w-full">
      <table class="min-w-full divide-y divide-gray-200">
        <thead>
          <tr>
            <th class="gap-1 px-6 py-3 bg-gray-50 text-left text-xs text-gray-500">
              <button @click="toggle('email')" type="button" class="flex items-center gap-1 cursor-pointer">
                <span class="font-medium uppercase">Email</span>
                <template x-if="location.pathname && params == '' ">
                  <span class="material-icons-outlined text-sm">arrow_downward</span>
                </template>
                <span x-show="params.get('order_direction') === 'asc'" class="material-icons-outlined text-sm">arrow_downward</span>
                <span x-show="params.get('order_direction') === 'desc'" class="material-icons-outlined text-sm">arrow_upward</span>
              </button>
            </th>
            <th class="px-6 py-3 bg-gray-50 text-left text-xs text-gray-500">
              <button @click="toggle('role')" type="button" class="flex items-center gap-1 cursor-pointer">
                <span class="font-medium uppercase">Role</span>
                <template x-if="location.pathname && params == '' ">
                  <span class="material-icons-outlined text-sm">arrow_downward</span>
                </template>
                <span x-show="params.get('order_direction') === 'asc'" class="material-icons-outlined text-sm">arrow_downward</span>
                <span x-show="params.get('order_direction') === 'desc'" class="material-icons-outlined text-sm">arrow_upward</span>
              </button>
            </th>
            <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase">
              Meta data
            </th>
            <th class="px-6 py-3 bg-gray-50 text-left text-xs text-gray-500">
              <button @click="toggle('created_at')" type="button" class="flex items-center gap-1 cursor-pointer">
                <span class="font-medium uppercase">Created</span>
                <template x-if="location.pathname && params == '' ">
                  <span class="material-icons-outlined text-sm">arrow_downward</span>
                </template>
                <span x-show="params.get('order_direction') === 'asc'" class="material-icons-outlined text-sm">arrow_downward</span>
                <span x-show="params.get('order_direction') === 'desc'" class="material-icons-outlined text-sm">arrow_upward</span>
              </button>
            </th>
            <th class="px-6 py-3 bg-gray-50 text-left text-xs text-gray-500">
              <button @click="toggle('modified_at')" type="button" class="flex items-center gap-1 cursor-pointer">
                <span class="font-medium uppercase">Modified</span>
                <template x-if="location.pathname && params == '' ">
                  <span class="material-icons-outlined text-sm">arrow_downward</span>
                </template>
                <span x-show="params.get('order_direction') === 'asc'" class="material-icons-outlined text-sm">arrow_downward</span>
                <span x-show="params.get('order_direction') === 'desc'" class="material-icons-outlined text-sm">arrow_upward</span>
              </button>
            </th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          {{- range .Data.Users}}
          <tr class="bg-white hover:bg-gray-50">
            {{- template "user-row" dict "Site" $.Site "User" .}}
          </tr>
          {{- end}}
        </tbody>
      </table>

      <!-- Pagination -->
      <nav class="bg-white px-4 py-3 flex items-center justify-end border-t border-gray-200 border-b">
        <div class="sm:block">
          <p class="text-sm text-gray-500">
            <span class="font-medium">1</span>
            -
            <span class="font-medium">10</span>
            of
            <span class="font-medium">20</span>
          </p>
        </div>

        <!-- Rows per page dropdown -->
        <div class="ml-8 flex items-center">
          <label for="location" class="text-sm font-small text-gray-500">Rows per Page</label>
          <div class="flex-1 ml-4">
            <select id="location" name="location"
              class="mt-1 block w-full pl-1  py-2 text-base ring-1 ring-gray-300 border-gray-500 text-gray-500 focus:outline-none sm:text-sm rounded-md">
            <option selected>50</option>
            <option>100</option>
            <option>250</option>
          </select>
          </div>
        </div>

        <div class="flex sm:justify-end ml-8">
          <a href="#" class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
            <span class="sr-only">Previous</span>
            <span class="material-icons-outlined">chevron_left</span>
          </a>
          <a href="#" class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
            <span class="sr-only">Next</span>
            <span class="material-icons-outlined">chevron_right</span>
          </a>
        </div>
      </nav>
    </div>
  </div>

  <!-- Unconfirmed users -->
  <div x-show="openTab === 2" class="my-10 overflow-auto shadow border-gray-200 sm:rounded-lg">
    <div class="inline-block min-w-full">
      <table class="min-w-full divide-y divide-gray-200">
        <thead>
          <tr>
            <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase">
              Token
            </th>
            <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase">
              Email
            </th>
            <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase">
              Role
            </th>
            <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase">
              Status
            </th>
            <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase">
              Created
            </th>
            <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase">
              Modified
            </th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          {{- range .Data.SignupTokens}}
          <tr class="bg-white hover:bg-gray-50">
            {{- template "signup-token-row" .}}
          </tr>
          {{- end}}
        </tbody>
      </table>
      <!-- Pagination -->
      <nav class="bg-white px-4 py-3 flex items-center justify-end border-t border-gray-200 border-b">
        <div class="sm:block">
          <p class="text-sm text-gray-500">
            <span class="font-medium">1</span>
            -
            <span class="font-medium">10</span>
            of
            <span class="font-medium">20</span>
          </p>
        </div>

        <!-- Rows per page dropdown -->
        <div class="ml-8 flex items-center">
          <label for="location" class="text-sm font-small text-gray-500">Rows per Page</label>
          <div class="flex-1 ml-4">
            <select id="location" name="location"
              class="mt-1 block w-full pl-1  py-2 text-base ring-1 ring-gray-300 border-gray-500 text-gray-500 focus:outline-none sm:text-sm rounded-md">
            <option selected>50</option>
            <option>100</option>
            <option>250</option>
          </select>
          </div>
        </div>

        <div class="flex sm:justify-end ml-8">
          <a href="#" class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
            <span class="sr-only">Previous</span>
            <span class="material-icons-outlined">chevron_left</span>
          </a>
          <a href="#" class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
            <span class="sr-only">Next</span>
            <span class="material-icons-outlined">chevron_right</span>
          </a>
        </div>
      </nav>
    </div>
  </div>
</div>
{{- end}}
