{{- define "token-row"}}
<td class="px-6 py-4 whitespace-nowrap">
  <span class="td-text font-mono">{{.ID}}</span>
</td>
<td class="px-6 py-4 whitespace-nowrap">
  <span class="td-text">{{.UserID}}</span>
</td>
<td class="px-6 py-4 whitespace-nowrap">
  <span class="td-text">{{.Kind}}</span>
</td>
<td class="px-6 py-4 whitespace-nowrap">
  <span class="td-text">{{.Email}}</span>
</td>
<td class="px-6 py-4 whitespace-nowrap">
  <span class="td-text">{{.Role}}</span>
</td>
<td class="px-6 py-4 whitespace-nowrap">
  <span class="td-text">{{.Status}}</span>
</td>
<td class="px-6 py-4 whitespace-nowrap">
  <span class="td-text font-mono">{{slice .Token 0 8}}...</span>
</td>
<td class="px-6 py-4 whitespace-nowrap">
  <span class="td-text">{{admintime .CreatedAt}}</span>
</td>
<td class="px-6 py-4 whitespace-nowrap">
  <span class="td-text">{{admintime .ModifiedAt}}</span>
</td>
{{- end}}
